// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Our primary color scheme
$deep-navy: #0E103D;
$burgundy: #93032E;
$light-green: #91F5AD;
$dark-goldenrod: #C08A33;
$white: #ffffff;
$custom-gray: #9c9c9c;
$custom-light-gray: #c5c4c4;
$custom-test-color: #0077ee;
$custom-card-bg: #FFF8ED;
$custom-card-bg-hover: #FFE9C4;
$custom-card-bg-hover-strong: #fdd48d;

// Comic Market priority colors
$comiket-orange: #ff944a; // Assigned to 1
$comiket-pink: #ff00ff; // Assigned to 2
$comiket-yellow: #fff700; // Assigned to 3
$comiket-green: #00b54a; // Assigned to 4
$comiket-light-blue: #00b5ff; // Assigned to 5
$comiket-purple: #9c529c; // Assigned to 6
$comiket-blue: #0000ff; // Assigned to 7
$comiket-light-green: #02ff00; // Assigned to 8
$comiket-red: #ff0000; // Assigned to 9
