// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Our primary color scheme
$deep-navy: #0E103D;
$burgundy: #93032E;
$light-green: #91F5AD;
$dark-goldenrod: #C08A33;
$white: #ffffff;
$custom-gray: #9c9c9c;
$custom-light-gray: #c5c4c4;
$custom-test-color: #0077ee;
$custom-card-bg: #FFF8ED;
$custom-card-bg-hover: #FFE9C4;
