<% circle = favorite.booth.circle %>

<div class="card-category"
     style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
     url(<%= image_path(circle.image_filename.presence || "default_circle.jpg") %>);">

  <%= link_to circle.name,
              circle_path(circle),
              class: "text-decoration-none text-white" %>
  <%= favorite.priority %>
  <%= favorite.notes %>

</div>
