<div class="container">
  <div class="row justify-content-center">
    <div class="py-3">
      <%= render "shared/breadcrumbs", { event: @event, booth: @booth } %>
    </div>
    <%= render "shared/event_header", event: @event %>

    <div class="favorite-cards-container col-auto">
      <% @favorites.each do |favorite| %>
        <%= render 'favorite_card', favorite: favorite %>
      <% end %>
    </div>
  </div>
</div>
