<div class="container mt-3">
  <div class="d-flex justify-content-between align-items-center">
    <h1>Favorites</h1>
  </div>

  <div class="cards row">
    <% @favorites.each do |favorite| %>
      <%= render 'favorite_card', favorite: favorite %>
    <% end %>
  </div>
</div>
