<% if @all_booths_next_page.present? %>
  <div id="booths_load_more"
    class="booths-load-more text-center pb-4"
    data-controller="booths-infinite-scroll"
    data-booths-infinite-scroll-url-value="<%= event_path(
      @event,
      @all_booths_request_params.merge(
        layout: "all",
        page: @all_booths_next_page,
        append: "booths",
        format: :turbo_stream
      )
    ) %>">
    <div class="booths-load-more__status" aria-live="polite">
      Loading more booths...
    </div>
    <span class="booths-load-more__count">
      Showing <%= [@all_booths_page * EventsController::ALL_LAYOUT_PAGE_SIZE, @booths_total_count].min %> of <%= @booths_total_count %>
    </span>
  </div>
<% else %>
  <div id="booths_load_more"></div>
<% end %>
