.priority-btn-1 { background-color: $comiket-orange; }
.priority-btn-2 { background-color: $comiket-pink; }
.priority-btn-3 { background-color: $comiket-yellow; }
.priority-btn-4 { background-color: $comiket-green; }
.priority-btn-5 { background-color: $comiket-light-blue; }
.priority-btn-6 { background-color: $comiket-purple; }
.priority-btn-7 { background-color: $comiket-blue; }
.priority-btn-8 { background-color: $comiket-light-green; }
.priority-btn-9 { background-color: $comiket-red; }



.priority-item {

}

.priority-1 {

}
